.header_top {
     border-bottom: 0.667px solid rgb(229, 232, 236);

}

.header_bottom {
     border-bottom: 0.667px solid rgb(229, 232, 236);
}


.header input:focus {
     outline: 0;
     border-color: #2b38d1;
}

.container {
     width: 93%;
     margin: auto;
}

.dropdown_menu {
     display: block;
     opacity: 0;
     visibility: hidden;
     transition: all 0.5s ease-out;
     margin-top: 10px;
     padding: 10px 20px;
     min-width: 130px;
     box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
     right: 0;
     left: auto;
     top: 50px;
     z-index: 100;
     background-color: white;
     font-size: 12px;
     position: absolute;
}

.dropdown_menu li {
     padding: 5px 0;
     color: #495057;
}

.dropdown_menu li:hover {
     color: #2b38d1;
}

.drop_container:hover .dropdown_menu,
.drop_container:hover button {
     opacity: 1;
     visibility: visible;
     top: 27px;
     color: #2b38d1;
}

.mid_nav li:hover,
.log span:hover {
     color: #2b38d1;
     cursor: pointer;
}

.icons:hover {
     color: #2b38d1;
}

.header_middle input {
     width: 612px;
     height: 1;
     border: 1.5px solid rgb(229, 232, 236);
}

.search_container {
     width: 662px;
}

.search_container div:first-of-type::after {
     content: "";
     width: 1px ;
     height: 17px;
     top: 12px;
     background-color: #8d979e;
     position: absolute;
     right: 0;
}

.header_middle {
     border-bottom: 0.667px solid rgb(229, 232, 236);
}