.aside {
     width: 240px;
     flex-shrink: 0;
     border-radius: 5px;
}

.border_top {
     padding-top: 22px;
     margin-top: 22px;
     border-top: 0.667px solid rgb(229, 232, 236);
}

.aside_ul li {
     padding: 9px 15px;
     display: flex;
     align-items: center;
     gap: 4px;
}

.aside_ul li:hover {
     color: #2b38d1;
     cursor: pointer;
     box-shadow: 0 0 5px rgb(190, 190, 190);
}

.h3 {
     color: #222;
     font-weight: 700;
     border-bottom: 2px solid rgb(184, 184, 184);
}

.item {
     padding-bottom: 15px;
     margin-bottom: 15px;
     width: 100%;
     border-bottom: 0.667px solid rgb(229, 232, 236);
}

.quality section:hover {
     color: #2b38d1;
     cursor: pointer;
}