
.main input:focus {
     outline: none;
     border-color: #2b38d1;
}

.main {
     width: 390px;
}

.icons,
.google {
     position: relative;
}

.icons::after {
     content: '';
     width: 1px;
     height: 15px;
     background-color: rgb(183, 183, 183);
     position: absolute;
     right: -10px;
     top: 6px;
}

.google::after {
     content: '';
     width: 1px;
     height: 15px;
     background-color: rgb(183, 183, 183);
     position: absolute;
     right: -10px;
     top: 11px;
}

.icon_container span:hover {
     color: #2b38d1;
}

.h3::after {
     content: '';
     position: absolute;
     height: 2px;
     width: 60px;
     top: 24px;
     left: 0;
     background-color: #2b38d1;
}