@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: "Bai Jamjuree", sans-serif;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  /* outline: 1px solid gray; */
  border: none;
}

li {
  list-style: none;
}

.primary-color {
  color: #212529;
}


.color_blue {
  color: #2b38d1;
}

.red_color {
  color: rgb(221, 56, 66);
}

.bg-red {
  background-color: rgb(221, 56, 66);
}

.secondary-color {
  color: #8d979e;
}

.bg-blue {
  background-color: #2b38d1;
}

.b-color {
  border-color: rgb(229, 232, 236);
}

.bb-color {
  border-color: #2b38d1;
}

.container {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  background-color: rgb(241, 245, 246);
}

.main {
  background-color: rgb(241, 245, 246);
}