.card {
    width: 219px;
    background-color: white;
}

.product_name:hover,
.product_store:hover {
    color: #2b38d1;
}

.menu {
    left: 8px;
}

.menu_container:hover .menu div {
    transform: translate(0px, 0px);
}

.menu div {
    transform: translate(-50px, 0px)
}

.icon_1 {
    transition: all 0.3s ease-in-out 0.1s;
}

.icon_2 {
    transition: all 0.3s ease-in-out 0.2s;
}
.icon_3 {
    transition: all 0.3s ease-in-out 0.3s;
}
.icon_4 {
    transition: all 0.3s ease-in-out 0.4s;
}

.icon:hover span:last-of-type {
    display: block;
}

.icon:hover span:first-of-type {
    border-color: #2b38d1;
    background-color: #2b38d1;
    color: white !important;
}