.description {
     visibility: hidden;
     opacity: 0;
     transition: all 0.2s ease-out;
}

.description:hover {
     display: flex;
     visibility: visible;
     opacity: 1;
}

.icon_container:has(div:hover) .description {
     visibility: visible;
     opacity: 1;
}

.icon:hover {
     background-color: #2b38d1;
}