.thead {
    /* border-top: 0.667px solid rgb(229, 232, 236); */
    border-bottom: 0.667px solid rgb(229, 232, 236);
}

.tbody td {
    height: 104px;
    flex-shrink: 0;
}

.product_name {
    width: 319px !important;
}

.image {
    width: 80px;
}

.name {
    width: 418px;
}

.price {
    width: 193px;
}

.status {
    width: 193px;
}

.add {
    width: 227px;
}

.remouve {
    width: 25px;
}

